@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
}

.header-wrapper {
  box-shadow: 2px 2px 2px #00000024;
  padding: 20px;
  text-align: center;
  min-width: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tasksForm-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 1rem 0;
  min-width: 100%;
}

.tasksForm-wrapper input {
  border: none;
  border-bottom: 1px solid rgb(179, 131, 226);
  min-width: 500px;
  font-size: 15pt;
  outline: none;
  background-color: transparent;
}

.tasksForm-wrapper button {
  background-color: rgb(179, 131, 226);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 18px;
  color: white;
}

.tasks-wrapper {
  background-color: rgb(179, 131, 226);
  color: white;
  display: flex;
  opacity: 0.75;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 2px 10px 20px rgb(179, 131, 226);
  padding: 15px 10px;
  border-radius: 15px;
  width: 60%;
}

.tasks-items-wrapper {
  list-style: none;
  width: 100%;
}

.tasks-items-wrapper li:nth-last-child(1) {
  border-bottom: none;
}

.tasks-item {
  border-bottom: 1px solid white;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks-item button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 2px 20px;
  border-radius: 10px;
}

.buttons-wrapper {
  display: flex;
  gap: 2rem;
}

.notifications {
  align-items: flex-start;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  left: 10px;
}

.notification {
  background-color: #ffff;
  border-radius: 5.5px;
  box-shadow: 1px 1px 5px rgb(188, 183, 183);
  padding: 0.8rem 1.5rem;
  font-size: 12pt;
}

.notification.error,
.notification.delete {
  color: red;
}

.notification.success {
  color: green;
}

@media screen and (max-width: 570px) {
  .tasksForm-wrapper input {
    min-width: 200px;
    font-size: 12pt;
  }
}

@media screen and (max-width: 500px) {
  .tasksForm-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }

  .tasksForm-wrapper h3 {
    text-align: center;
  }

  .tasksForm-wrapper input {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
  }

  .tasksForm-wrapper button {
    width: 100%;
  }
}
