.tasksItemsWrapper {
  list-style: none;
  width: 100%;
}

.taskNoFound {
  text-align: center;
}

.taskEditForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tasksItem {
  border: 4px solid black;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.tasksItem:hover {
  background-color: #ffd803;
}

.tasksItem input {
  background-color: transparent;
  font-size: 15pt;
  border: none;
  border-bottom: 4px solid black;
  height: 1.9rem;
  width: 40%;
  outline: none;
}

.tasksItem button {
  cursor: pointer;
  outline: none;
  padding: 2px 20px;
}

.tasksItem:hover button {
  background-color: black;
  color: white;
}

.buttonsWrapper {
  display: flex;
  gap: .9rem;
}

@media screen and (max-width: 570px) {
  .tasksItem {
    text-align: center;
    flex-direction: column;
  }

  .tasksItem input {
    text-align: center;
    width: 50%;
  }

}

@media screen and (max-width: 280px) {
  .buttonsWrapper {
    flex-direction: column;
  }
}